body {
  background-color: #141414
}

@font-face {
  font-family: Inter;
  src: url(Inter-VariableFont_slnt\,wght.ttf)
}

.card {
  background-color: #1f1f1f;
  width: 400px;
  height: 625px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px
}

.profile {
  position: relative;
  margin-top: 50px
}

.profile h1,
.profile h2,
.profile p {
  font-family: Inter;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0
}

.profile h1 {
  font-size: 24px;
  margin-top: 30px
}

.profile h2 {
  color: #b7e13e;
  font-size: 14px;
  margin-top: 10px
}

.profile p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px
}

.photo {
  width: 90px;
  height: 90px;
  margin: 0 auto
}

.photo img {
  border-radius: 50%;
  width: 90px
}

.socialLinks {
  position: relative;
  margin-top: 25px
}

.socialLinks ul {
  list-style-type: none;
  padding: 0;
  margin-left: 45px;
  margin-right: 45px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 17px
}

.socialLinks li {
  background-color: #333;
  line-height: 45px;
  font-family: Inter;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px
}

.socialLinks a {
  color: #fff;
  text-decoration: none
}

.socialLinks a:hover {
  font-weight: 700
}

@media only screen and (min-width:380px) and (max-width:480px) {
  .card {
    width: 350px;
    height: 600px;
    border-radius: 7px
  }

  .profile {
    margin-top: 25px
  }

  .socialLinks {
    margin-top: 20px
  }

  .socialLinks ul {
    margin-left: 30px;
    margin-right: 30px
  }

  .socialLinks li {
    background-color: #333;
    line-height: 45px;
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px
  }
}

@media only screen and (min-width:320px) and (max-width:379px) {
  .card {
    width: 335px;
    height: 600px;
    border-radius: 7px
  }

  .profile {
    margin-top: 25px
  }

  .socialLinks {
    margin-top: 20px
  }

  .socialLinks ul {
    margin-left: 25px;
    margin-right: 25px
  }

  .socialLinks li {
    background-color: #333;
    line-height: 45px;
    font-family: Inter;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px
  }
}